* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  background-image: url("wp.jpg");
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}

span {
  font-size: 3em;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh; /* Make it fill the viewport height */
  width: 100%; /* Ensure full width */
  overflow: visible; /* Allow growth of boxes */
}

.box {
  border-style: none;
  background-color: #303234;
  opacity: 0.7;
  min-width: 20%;
  min-height: 10%;
  padding: 2em;

  border-radius: 2em;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.5); /* Backlight effect */
  animation: float 1.5s ease-in-out forwards; /* Floating animation once */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transition for hover effect */
}

.box-content {
  font-family: 'Roboto', sans-serif;

  color: white;
}

/* Floating animation */
@keyframes float {
  0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-10px);
  }
  100% {
      transform: translateY(0);
  }
}

.box-title {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-bottom: 1em;
  
}


/* Hover effect */
.box:hover {
  transform: scale(1.5); /* Enlarge the box */
  box-shadow: 0 0 25px rgba(255, 255, 255, 1); /* Increase backlight effect on hover */
}

.icon {
  font-size: 2.5em !important;
}

a {
  text-decoration: none;
  color: rgba(215, 54, 220, 0.866);
}

a:hover {
  color: red;
}